In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('./owid-covid-data.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276074,ZWE,Africa,Zimbabwe,2023-12-03,265975.0,0.0,23.857,5730.0,0.0,1.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276075,ZWE,Africa,Zimbabwe,2023-12-10,265975.0,0.0,22.000,5730.0,0.0,1.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276076,ZWE,Africa,Zimbabwe,2023-12-17,266025.0,50.0,25.429,5730.0,0.0,1.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276077,ZWE,Africa,Zimbabwe,2023-12-24,266048.0,23.0,24.000,5731.0,1.0,1.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276078,ZWE,Africa,Zimbabwe,2023-12-31,266048.0,0.0,20.714,5731.0,0.0,0.714,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [24]:
dict = pd.read_csv('./dict.csv')
dict

          location     region subregion     country_name policy
0           Sweden    Eldoril     North    Eldoril North      A
1           Norway    Eldoril      West     Eldoril West      B
2          Denmark    Eldoril     South    Eldoril South      B
3          Finland    Eldoril      East     Eldoril East      B
4   United Kingdom  Thundoril     North  Thundoril North      B
5           France  Thundoril     South  Thundoril South      B
6    United States     Aerion      West      Aerion West      B
7           Canada     Aerion     North     Aerion North      B
8           Mexico     Aerion     South     Aerion South      B
9        Australia   Silvoria     North   Silvoria North      C
10     New Zealand   Silvoria     South   Silvoria South      C
11           China    Mystara      West     Mystara West      C
12           Japan    Mystara      East     Mystara East      C
13     South Korea    Mystara     North    Mystara North      C
14         Vietnam    Mystara     South    Mystara South      C

In [25]:
num_dict = dict.to_dict()['location']
num_dict = {v: k+1 for k, v in num_dict.items()}
num_dict

{'Sweden': 1,
 'Norway': 2,
 'Denmark': 3,
 'Finland': 4,
 'United Kingdom': 5,
 'France': 6,
 'United States': 7,
 'Canada': 8,
 'Mexico': 9,
 'Australia': 10,
 'New Zealand': 11,
 'China': 12,
 'Japan': 13,
 'South Korea': 14,
 'Vietnam': 15}

In [26]:
df_clean = df[['continent', 'location', 'date', 'new_deaths_smoothed_per_million']].copy()
df_clean = df_clean.rename(columns={'new_deaths_smoothed_per_million': 'value'})
df_clean = df_clean[df_clean['value']==df_clean['value']]
df_clean = df_clean[df_clean['location'].isin(dict['location'])]
df_clean['country_num'] = df_clean['location'].map(lambda x: num_dict[x])

df_clean = df_clean.merge(dict, on='location', how='left')
df_clean = df_clean.sort_values(by = ['country_num', 'date'])
df_clean = df_clean.reset_index(drop=True)

df_clean['name'] = df_clean['country_name'] + ' (Policy ' + df_clean['policy'] + ')'

df_clean

,continent,location,date,value,country_num,region,subregion,country_name,policy,name
0,Europe,Sweden,2020-02-09,0.0,1,Eldoril,North,Eldoril North,A,Eldoril North (Policy A)
1,Europe,Sweden,2020-02-16,0.0,1,Eldoril,North,Eldoril North,A,Eldoril North (Policy A)
2,Europe,Sweden,2020-02-23,0.0,1,Eldoril,North,Eldoril North,A,Eldoril North (Policy A)
3,Europe,Sweden,2020-03-01,0.0,1,Eldoril,North,Eldoril North,A,Eldoril North (Policy A)
4,Europe,Sweden,2020-03-08,0.0,1,Eldoril,North,Eldoril North,A,Eldoril North (Policy A)
...,...,...,...,...,...,...,...,...,...,...
3020,Asia,Vietnam,2023-12-03,0.0,15,Mystara,South,Mystara South,C,Mystara South (Policy C)
3021,Asia,Vietnam,2023-12-10,0.0,15,Mystara,South,Mystara South,C,Mystara South (Policy C)
3022,Asia,Vietnam,2023-12-17,0.0,15,Mystara,South,Mystara South,C,Mystara South (Policy C)
3023,Asia,Vietnam,2023-12-24,0.0,15,Mystara,South,Mystara South,C,Mystara South (Policy C)
3024,Asia,Vietnam,2023-12-31,0.0,15,Mystara,South,Mystara South,C,Mystara South (Policy C)

In [27]:
df_clean.to_csv('./clean_data.csv')